<%= form_for @newitem, :html => { class: "form-inline", role: "form"} do |f| %>
	<div class="form-group">
		<% f.hidden_field :author, value: current_user %>
		
		<!-- Item Name label for screen rears only -->
		<%= f.label :item_name, {class: "sr-only"} %>
		<%= f.text_field :item_name, {placeholder: "Item Name", class: "form-control"}%>
		
		<!-- Item Price label for screen rears only -->
		<%= f.label :item_price, {class: "sr-only"} %> 
		<%= f.text_field :item_price, {placeholder: "Item Price", class: "form-control"} %>

		<%= f.button(type: 'submit', class: "btn btn-default") do %>
				<span class="glyphicon glyphicon-plus"></span> 
		<% end %>
	</div>

<% end %>